<!--
<servico-qa-template titulo="{{ titulo }}" items="{{ items }}" img="{{ img }}" />
-->
<link rel="stylesheet" href="css/servicosQA.css">
<link rel="stylesheet" href="css/video.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="subtitulo page-collumn">
					{{ titulo }}
                </div>      
            </td>
        </tr>
        <tr>
            <td>
                <div class="text page-collumn row" style="min-height: 100px;">
                    <div ng-controller="PhotoSliderController" class="col-xs-12 col-sm-12 col-md-1">
                        <div class="page-collumn" ng-show="slides.length > 0">
                            <div class="container slider image-big">
                                <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
                                     ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                                     ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}" style="padding:0 auto">

                                <a class="arrow prev" ng-click="nextSlide()"></a>
                                <a class="arrow next" ng-click="prevSlide()"></a>
                                <nav class="nav-photo-slider">
                                    <div class="wrapper">
                                        <div class="dots">
                                            <div class="dot" ng-repeat="slide in slides">
                                                <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                                   ng-click="setCurrentSlideIndex($index);" ng-src="{{slide.image}}">
                                                    {{slide.description}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10"> 
						<div ng-repeat="item in itemsQA"> 
								<div>
									<div class="thumbnail text question" ng-bind-html="item.question | textFromDB" ng-click="showAnswer[$index] = !showAnswer[$index]">
									</div>
									<div class="thumbnail text answer" ng-show="showAnswer[$index]">
										<!--
										<img ng-src="{{ item.imgUrl }}"
										ng-hide="item.imgUrl == '-' || item.imgUrl == '' " 
										class="answer-img" />
										-->
										<div class="answer-text" ng-bind-html="item.answer | textFromDB" >
										</div>
									</div>
								</div>
						</div>
                    </div>
					<div class="col-xs-12 col-sm-12 col-md-1">
					</div>
                </div>
            </td>
        </tr>
    </table>
<div>