<link rel="stylesheet" href="../css/equipa.css">
<link rel="stylesheet" href="css/equipaAdmin.css">
<div>
    <table style="width:100%">
        <tr>
            <td>
                <div class="titulo page-collumn">
                    Equipa
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="page-collumn page-collumn-vcentered">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-success" ng-click="editFotos(equipa[allIndex].id)">
                            Editar Fotos
                        </button>
                        <img class="image-big" ng-src=" {{ '../' + equipa[allIndex].img[0].path }}"> </img>
                        <!--<img class="image-big" src="img/equipa/groupPhoto.jpg" alt="foto de grupo">-->
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <button class="btn btn-warning" ng-click="saveFuncionario(equipa[allIndex])">
							Gravar!
                        </button>
                        <p contenteditable  ng-model="equipa[allIndex].resumo" class="text contenteditable">
                        </p>
                    </div>    
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="subtitulo page-collumn">
                    Fisioterapeutas
                </div>
                <div class="row page-collumn equipa-nav">
                    <div ng-repeat-start="t in equipa" class="col-md-6 col-sm-12 col-xs-12 " ng-if="$index % 4 === 0" ng-init="group = equipa.slice($index, $index + 4)" ng-repeat-end>
                         <div class="row">
                            <div ng-repeat="terapeuta in group" class="col-md-3 col-sm-3 col-xs-3" ng-show="terapeuta.equipa == 'ft'" ng-animate="custom">      
                                <img 
                                class="img-circle imgSmall" 
                                ng-class="{ 'hover': terapeuta.id == terapeutaHover, 'selected': terapeuta.id == terapeutaSelectedId }" 
                                ng-click="changeTerapeuta($index, $parent.$index);" 
                                ng-mouseover="hoverTerapeuta($index, $parent.$index);" 
                                ng-mouseleave="undoHoverTerapeuta()" 
                                ng-src="{{ '../' + terapeuta.mainImg[0].path }}">
                                </img>
								<div contenteditable ng-model="terapeuta.nome" class="text-centered">
								</div>
                            </div>
                         </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="row page-collumn" style="min-height:300px">
                    <button class="btn btn-warning" ng-click="saveFuncionario(terapeutaMain)">
                        Gravar.
                    </button>
                    <button class="btn btn-success" ng-click="editFotos(terapeutaMain.id)">
                        Editar Fotos
                    </button>
                    <div class="images col-xs-12 col-sm-12 col-md-4" ng-controller="PhotoSliderController">
                        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage "
                             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{'../' + slide.path}}" style="padding:0 auto">
                        <div class="arrow-container arrow-prev">
                            <img src="../assets/img/arrow-left.png" class="arrow arrow" ng-click="nextSlide()"></img>
                        </div>
                        <div class="arrow-container arrow-next" >
                            <img src="../assets/img/arrow-right.png" class="arrow" ng-click="prevSlide()"></img>
                        </div>
                        <nav class="nav-photo-slider">
                            <div class="wrapper">   
                                <div class="dots">
                                    <div class="dot" ng-repeat="slide in slides">
                                        <a ng-class="{'active':isCurrentSlideIndex($index)}"
                                           ng-click="setCurrentSlideIndex($index);">{{slide.descricao}}</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <img src="../img/icons/sabermais.png" class="sabermais-conteudo" ng-click="fullCV = true" ng-show="!fullCV"}}>        
                        <img src="../img/icons/sabermenos.png" class="sabermais-conteudo" ng-click="fullCV = false"  ng-show="fullCV"}}>
						<div contenteditable ng-model="terapeutaMain.nome" class='terapeutaMain-equipa contenteditable' ></div>
                        <span ng-show="fullCV == false">
                            <br>
                            <span>
                                <div contenteditable ng-model="terapeutaMain.resumo" class="text contenteditable"></div>
                            </span>
                        </span>
                        <span ng-repeat="f in terapeutaMain.cv" class='itemcv-basico' ng-show="fullCV == true">
                            <div contenteditable ng-model="f.field" class="cv-field contenteditable"></div>
                            <div class="cv-content" ng-repeat="c in f.content" >
                                <input ng-model="c"/>
                            </div>  
                        </span>
                    </div>
                </div>
            </td> 
        </tr>
        <tr>
            <td>
                <div class="subtitulo page-collumn">
                    Nutricionista
                </div>
                <div class="row page-collumn" style="min-height:300px">
                    <button class="btn btn-warning" ng-click="saveFuncionario(equipa[nutriIndex])">
                        Gravar!
                    </button>
                    <button class="btn btn-success" ng-click="editFotos(equipa[nutriIndex].id)">
                        Editar Fotos
                    </button>
                    <div contenteditable ng-model="equipa[nutriIndex].nome" class='col-xs-12 col-sm-12 col-md-4 itemcv-nome contenteditable' >
                    </div>                    
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <img src="../img/icons/sabermais.png" class="sabermais-conteudo" ng-click="fullCVNutri = true" ng-show="!fullCVNutri"}}>    
                        <img src="../img/icons/sabermenos.png" class="sabermais-conteudo" ng-click="fullCVNutri = false"  ng-show="fullCVNutri"}}>
                        <span ng-show="fullCVNutri == false">
                            <br>
                            <span>
                                <div contenteditable ng-model="equipa[nutriIndex].resumo" class="text contenteditable"></div>
                            </span>
                        </span>
                        <span ng-repeat="f in equipa[nutriIndex].cv" class='itemcv-basico' ng-show="fullCVNutri == true">
                            <div contenteditable ng-model="f.field" class="cv-field contenteditable"><strong></strong></div>
                            <div class="cv-content" ng-repeat="c in f.content" >
                                 <div contenteditable ng-model="c" class="contenteditable"></div>
                            </div>  
                        </span>
                    </div>
					<div id="nutri-fotos" class="images col-xs-12 col-sm-12 col-md-4" ng-controller="PhotoSliderController">
                        <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage "
                             ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                             ng-hide="!isCurrentSlideIndex($index)" ng-src="{{'../' + slide.path}}" style="padding:0 auto">
                        <div class="arrow-container arrow-prev">
                            <img src="../assets/img/arrow-left.png" class="arrow arrow" ng-click="nextSlide()"></img>
                        </div>
                        <div class="arrow-container arrow-next" >
                            <img src="../assets/img/arrow-right.png" class="arrow" ng-click="prevSlide()"></img>
                        </div>
                        <nav class="nav-photo-slider">
                            <div class="wrapper">   
                                <div class="dots">
                                    <div class="dot" ng-repeat="slide in slides">
                                        <a ng-model="" ng-class="{'active':isCurrentSlideIndex($index)}"
                                           ng-click="setCurrentSlideIndex($index);">{{slide.descricao}}</a>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </td> 
        </tr>
        <tr>
            <td>
                <div class="subtitulo page-collumn">
                    Administrativas
                </div>
                <div class="row page-collumn" style="min-height:300px">
                    <div ng-repeat="admin in equipa" 
                         class="col-xs-12 col-sm-12 col-md-4 admin-container"
                         ng-show="admin.equipa == 'se'">
                        <button  class="btn btn-warning" ng-click="saveFuncionario(admin)">
                            Gravar!
                        </button>
                        <div contenteditable ng-model="admin.nome" class="itemcv-nome contenteditable">
                        </div>
                        <div contenteditable ng-model="admin.resumo" class="text contenteditable">
                        </div>
                        <button  class="btn btn-success" ng-click="editFotos(admin.id)">
							Editar Fotos
                        </button>
						<img class="image-person itemcv-photo" ng-src="{{'../' + admin.img[0].path}}">
                    </div>
                </div>
            </td> 
        </tr>
    </table>
</div>

<edit-foto index="{{ selectedIndex }}" entity-list="equipa" entity="funcionario" ng-hide="selectedIndex == -1"/>


